body
{
  font-family: Arial,sans-serif;
}
a:link
{
  color: black;
  text-decoration: none;
}
a:hover
{
  text-decoration: underline
}
a:visited
{
  text-decoration: none;
}


.super-haut-page-google
{
display:flex;
justify-content: space-between;
}

.moyen-haut-de-page
{
height: 50px;
width: 100px;

}

.haut-page-google
{
  display: flex;
  justify-content: space-around;
  height:200px;
  width:300px;
  margin-right: 0%
}

.logo
{
  height: 25px;
  width: 25px;
}


.centrer-google
{
display: flex;
flex-direction: column ;
align-items: center;
}

.barre-recherche
{
  display: flex;
  width: 360px;
  border: solid;
  border-top: none;
  border-color: #9aa0a6;
  border-radius: 10px;
  justify-content: space-around;
  margin-top: 15px;
}

.button-google
{
  margin-top:20px; 
}

footer
{
margin: 0% 
width: 100%;
position: absolute;
bottom:0;
background-color: rgb(242,244,244);
}


.overlay1
{
display:flex;
padding-left: 10px;
align-items: flex-end;
min-width: 500px;
height: 50px;
}

.overlay2
{
display:flex;
padding-left: 10px;
align-items: flex-end;
min-width: 500px;
height: 50px;
}

.overlay3-13
{
display:flex;
padding-left: 10px;
align-items: center;
justify-content: space-around;
min-width: 500px;
height: 50px;
} 

.overlay3-23
{
display:flex;
padding-left: 10px;
align-items: flex-end;
min-width: 500px;
height: 50px; 
}
.overlay3-33
{
display:flex;
padding-left: 10px;
align-items: center;
justify-content: space-around;
min-width: 500px;
height: 50px;  
}           


body
{
font-family: Arial, Helvetica, sans-serif;
font-size:15px;
}
